.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;

  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);

  background-color: #eee;

  padding: 10px;
}

.modal-buttons {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-buttons button {
  border-radius: 50px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
